form {
    /* background-color: aqua;
    position:absolute;
    left:20%;
    top:25%;
    width:70%;  */
}

/* .input-group {
    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;
} */