.tweets-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 500px;
    background-color: #504747;
    overflow-y: auto;
  }

  /* li { */
    /* background-color: #db0b0b; */
    /* padding: 100px; */
    /* margin-bottom: 10px; */
    /* border-radius: 5px; */
    /* margin-left: 10px; */
  /* } */

  /* .divide-y divide-gray-300{
    background-color: aquamarine;
  } */